[MASTER]
load-plugins=pylint_report

[REPORTS]
output-format=pylint_report.CustomJsonReporter

[MESSAGES CONTROL]

disable=
    no-member,
    too-many-instance-attributes,
    expression-not-assigned,
    too-many-locals,
    too-many-arguments,
    too-few-public-methods,
    too-many-statements,
    too-many-branches,
    import-error,
    attribute-defined-outside-init
